$gray-color:#cdcdcd;
$black-color:#000000;
$blue-light-color:#1e88e5;

mat-nav-list{

  a{
    display:block;
  }

}
mat-sidenav{
  width: 100%;

  .mat-accordion {
    .mat-expansion-panel{
      border-radius: 0px;
      box-shadow: none;
      border-bottom: 1px solid $gray-color;
      margin: 0;
      mat-panel-title{
        font-weight: 700;
      }

        a{
          display:block;
          color:$black-color;
          &:hover{
            color:$blue-light-color;
          }
        }

    }
  }
}


